/*==========================================
*
*           Universal Styling
*
===========================================*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

@font-face{
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: left;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
}

h2 {
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

h3 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  color: #000000;
}

h4 {
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

h5 {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: normal;
  font-size: 12px;
  color: #8888888;
}

p {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 18px;
  color: #000000;
}

footer a {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #000000;
}

/*===========================================
*
*             HEADER
*
============================================*/

.navigation {
  position: fixed;
  top: 0;
  z-index: 100;
}

header {
  background: #000000;
  background-color: #000000;
  padding: 20px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0px;
}

header nav ul li:not(.button){
  margin-right: 30px;
}

header nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

header nav a:hover {
  text-decoration: underline;
  color: #ffffff;
  transition: .3s;
}

.space_header {
  width: 940px;
}

/*===========================================
*
*                  BODY
*
============================================*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.left-side {
  display: inline-block;
  width: 55%;
}


.right-side {
  display: inline-block;
  width: 35%;
  margin-left: 50px;
}

ul li {
  display: inline;
}

li a {
  text-decoration: none;
  text-align: left;
}

.button {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-left: 980px;
}

.form {
  max-width: 600px;
  padding: 20px;
  margin: 0;
}

.contact-form input,
.contact-form textarea {
  border-radius: none;
}

.label_input_wrap {
  display: block;
}

.reset input,
.submit input {
  padding: 5px 20px;
  background-color: #000000;
  border-style: none;
  color: #ffffff;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin: 10px;
  font-family: 'Helvetica Neue';
  color: #000000;
}

.contact-info {
  margin-top: 160px;
  text-align: center;
}

/*===========================================
*
*                ANIMATION
*
============================================*/

.wave {
  margin-left: 16px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
